# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.cfg

# IntelliJ-based IDEs
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/key.properties
**/android/app/local.properties
**/android/app/flutter-plugins.gradle
**/android/local.properties
**/android/GeneratedPluginRegistrant.java

# iOS/Mac related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
*.sch
*.xccheckout
*.xcworkspace
!default.xcworkspace
**/xcuserdata/
**/ios/Pods/
**/ios/Podfile.lock

# Environment variables
.env

# Android build artifacts
android/app/build/
android/build/
**/.cxx/

# Flutter generated
.dart_tool/
.flutter-plugins-dependencies

# Linux/Windows generated
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# APKs
*.apk
*.aab

# Reports
android/build/reports/

# Symlinks
**/.plugin_symlinks/

.log
